
.todo
{
  background-color: #950740;
  width:35%;
  height: 70vh;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.header
{
  margin-top: 20px;
}

.form
{
  text-align: center;
  margin-top: 35px;
}